extends layout.pug

block content

  section#introduction
    h1 Welcome!
    p Here are my articles:

  section#articles
    article

    - var md = require('marked');
    if config.articles.markdown
      each article in articles()
        article
          p!= md(article.toString())
    else if config.articles.json
      // each article in articles
      //   article
      //     h3 #{article.name}
      //     small #{article.subtitle}
      //     p #{article.preview}
