extends layout.pug

block content

  section#introduction
    h1 Welcome!
    p Here are my articles:

  section#articles
    article
      h3 Article #1
      small A really interesting article
      p You should absolutely read this because it is amazing!

    article
      h3 Article #2
      small Another really interesting article
      p You should absolutely read this because it is amazing!

    //- var articles = [{ name: "Test", subtitle: "Test subtitle", preview: "A small preview." }]
    // each article in articles
    //     article
    //       h3 #{article.name}
    //       small #{article.subtitle}
    //       p #{article.preview}
    // - var md = require('jstransformer')(require('jstransformer-markdown-it'));
    - var md = require('marked');
    != md(articles())
