doctype html
html(lang="en")
  head
    block title
      title m-strasser.net
    meta(charset="utf-8")
    link(rel="stylesheet", href= "css/layout.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/railscasts.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
    script.
      hljs.initHighlightingOnLoad();
  body
    header
      nav
        - var navigation = [{ url: 'somewhere.html', name: 'Somewhere' }]
        each item in navigation
                a(href=item.url) #{item.name}
                span | 
        a(href="index.html") Home 
        span |
        a(href="projects.html")  Projects 
        span |
        a(href="security.html")  Security Guides 
        span |
        a(href="about.html")  About

    block content

    footer
      p.
        The source code for this site can be found on #[a(href="https://github.com/m-strasser/m-strasser") github], all files are signed and can be verified with my #[a(href="about.html#PublicKey") public key]. More information can be found on the #[a(href="about.html") about page].
